<!DOCTYPE html>
<html>

<head>
    <title>Email</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <!--[if !mso]><!-->
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
</head>

<body style="background-color: #ffffff; font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;">
    <table width="100%" cellpadding="0" cellspacing="0" border="0" style="width:100%;max-width:600px" align="center">
        <tbody>
            <tr>
                <td>
                    <table width="100%" style="margin-top: 30px; margin-bottom: 30px; background-color: #ffffff;">
                        <tbody>
                            <tr>
                                <td style="padding: 15px; color: #ffffff;" height="100%" valign="top" align="center"
                                    bgcolor="#0071E7">
                                    <h2 style="margin: 0;">{{subject}}</h2>

                                </td>
                            </tr>
                            <tr>
                                <td style="padding: 15px; color: #000000;" height="100%" valign="top">
                                    <h4 style="margin: 0; color: #0071E7;">Hi {{fullname}} !</h4>
                                    <p style="margin-bottom: 0; margin-top: 5px;">We have recorded your KYC verification request, we will notify the result as soon as possible</p>
                                </td>
                            </tr>
                            <tr>
                                <td style="padding:0 15px;" height="100%" valign="top">
                                    <p style="font-size: 14px;">If you did not initiate this operation, click here to
                                        disable your account and
                                        then click the link below to contact us:
                                        https://openlivenft.com/support</p>
                                </td>
                            </tr>
                            <tr>
                                <td style="color: #000000;" height="1px" valign="top" bgcolor="#0071E7">

                                </td>
                            </tr>
                            <tr>
                                <td style="padding:0 15px;" height="100%" valign="top">
                                    <p style="font-size: 14px;">Openlive NFT Team</p>
                                    <p style="font-size: 14px;">Automated message. Please do not reply.</p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>